.container{
    width: 80%;
    height: 100%;
}

.container label{
    display: block;
    margin: auto;
    width: 50%;
}


.container .form-control{
    display: block;
    margin: auto;
    width: 50%;
}

.container button{
    display: block;
    margin: auto;
}
.form {
    width: 300px;
    border: 1px solid green;
    padding: 20px;
    margin: 0 auto;
    font-weight: 700px;
   }
   .form input {
    width: 100%;
    padding: 10px 0;
   }
.form h3{
    color: green;
}


.form select{
    width: 299px;
    padding: 10px 0;
   }
